body,html{
	margin: 0;
	padding: 0;
}
body{
	font-size: 15px;
	font-family: 'microsoft YaHei';
	border-top: 3px solid #191212;
}
.container{
	margin: 0 auto;
	width: 1120px;
}
.header{
	clear: both;
	background: #f3f3f3;
	height: 40px;
	padding: 10px 0;
	position: relative;
	top: -20px;
}
.main{
	
}
.container .left{
	float: left;
	width: 820px;
	
}
.container .right{
	float: left;
	width: 280px;
	margin-left: 19px;
	border-left: 1px solid #ccc;
}
.container .right .toolbox{
	padding: 0;
	margin: 0;
	padding-left: 30px;
}
.container .right .toolbox li{
	list-style: none;
	color: #999;
	padding: 0px 0 0px 0px;
	font-size: 14px;
	line-height: 1.8em;
	white-space: nowrap;
	overflow: hidden;
	width: 130px;
	float: left;
}
.container .right .toolbox li a{
	outline: none;
	text-decoration: none;
	color: #555;
	font-size: 14px;
}
.footer{
	clear: both;
	background: #f3f3f3;
	height: 40px;
	padding: 10px 0;
	margin-top: 10px;
	display: none;
}
.logo{
	display: inline-block;
	margin: 0;
	float: left;;
}
.menu{
	float: right;
	width: auto;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
.menu li{
	float: left;
	display: inline-block;
	height: 35px;
	line-height: 25px;
	margin: 0 10px;
}
.menu li:hover a,.menu li.active a{
	color: #ff7b15;
}
.menu li a{
	padding: 5px 15px;
	outline: none;
	text-decoration: none;
	color: #555;
	font-size: 14px;
}
.articleList{
	margin: 0;
	padding: 0;
	list-style: none;
}
.articleList li{
	padding: 20px 0px;
	border-top: 1px dotted #ccc;
}
.articleList li .year{
	color: #aaa;
	font-size: 32px;
}
.articleList li .date{
	color: #aaa;
	font-size: 22px;
	padding: 0px 15px;
}
.articleList li a{
	outline: none;
	text-decoration: none;
	color: #555;
	font-size: 23px;
	margin-left: 15px;
}