body,html{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: 'microsoft YaHei';
	border-top: 3px solid #191212;
	color: #6b6b6b;
}
.hidden{
    display: none;
}
.container{
	margin: 0 auto;
	width: 1120px;
}
.header{
	clear: both;
	background: #777;
	height: 40px;
	padding: 10px 0;
	position: relative;
	top: -20px;
}
.main{
	
}
.container .left{
	float: left;
	width: 820px;
	margin-bottom: 15px;
	margin-top: -10px;
}
.container .right{
	float: left;
	width: 280px;
	margin-left: 19px;
	border-left: 1px solid #ccc;
	min-height: 600px;
	margin-bottom: 15px;
}
.container .right .rightTitle{
	padding-left: 15px;
	font-size: 14px;
	margin-bottom: 5px;
}
.container .right .toolbox{
	margin: 0;
	margin-left: 10px;
	padding: 10px 5px;
	border-top: 1px solid #ddd;
}
.container .right .toolbox li{
	list-style: none;
	color: #999;
	padding: 0px 0 0px 0px;
	font-size: 14px;
	line-height: 1.8em;
	white-space: nowrap;
	overflow: hidden;
	width: 130px;
	float: left;
}
.container .right .toolbox li a{
	outline: none;
	text-decoration: none;
	color: #555;
	font-size: 14px;
}
.container .right .rightul{
	clear: both;
	height: 250px;
}
.footer{
	clear: both;
	background: #f3f3f3;
	height: 40px;
	padding: 10px 0;
	margin-top: 10px;
	display: none;
}
.logo{
	display: inline-block;
	margin: 0;
	float: left;
	font-size: 22px;
	color: #fff;
}
.menu{
	float: right;
	width: auto;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
.menu li{
	float: left;
	display: inline-block;
	height: 35px;
	line-height: 25px;
	margin: 0 10px;
}
.menu li:hover a,.menu li.active a{
	color: #ff7b15;
}
.menu li a{
	padding: 5px 15px;
	outline: none;
	text-decoration: none;
	color: #555;
	font-size: 14px;
}
.articleList{
	margin: 0;
	padding: 0;
	list-style: none;
}
.articleList li{
	padding: 20px 0px;
	border-top: 1px dotted #ccc;
}
.articleList li .year{
	color: #aaa;
	font-size: 32px;
}
.articleList li .date{
	color: #aaa;
	font-size: 22px;
	padding: 0px 15px;
	width: 133px;
	display: inline-block;
}
.articleList li a{
	outline: none;
	text-decoration: none;
	color: #555;
	font-size: 23px;
	margin-left: 15px;
}
.article{
	position: relative;
	padding: 20px;
	padding-left: 50px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: #aaa 3px 3px 3px;
}
.article .content{
	
}
.article .time{
	position: absolute;
	left: -33px;
	top: 61px;
	display: inline-block;
	height: 20px;
	width: 86px;
	padding: 5px;
	background-color: #77da5c;
	color: #fff;
	-moz-transform:rotate(-90deg);
	-webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.article .articleTitle{
	margin-bottom: 10px;
	outline: none;
	text-decoration: none;
	color: #333;
	font-size: 25px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.article .articleTitle:hover{
	color: #0181eb;
}
.full-article{
	background: #ebebeb;
	display: inline-block;
	padding: .4em .8em;
	margin-right: .5em;
	text-decoration: none;
	color: #666;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	text-shadow: none;
	text-decoration: none;
	outline: none;
}
.full-article:hover{
	background: #0181eb;
	color: #f8f8f8;
}