body,html{
	margin: 0;
	padding: 0;
}
body{
	font-size: 13px;
	font-family: 'microsoft YaHei';
}
.container{
	margin: 0 auto;
	width: 1200px;
}
.header{
	clear: both;
	background: #f3f3f3;
	height: 60px;
}
.logo{
	display: inline-block;
	margin: 0;
	float: left;;
}
.menu{
	float: right;
	width: 500px;
	margin: 0;
	padding: 0;
}
.menu li{
	float: left;
	display: inline-block;
	height: 35px;
	line-height: 25px;
	margin: 0 10px;
	
}
.menu li:hover a,.menu li.active a{
	margin-top: 0
}
.menu li a{
	padding: 5px 15px;
	outline: none;
	text-decoration: none;
	color: #555;
	margin-top: 10px; 
	background-color: #fff;
}