<!DOCTYPE html>
<html>
　　<head>
　　　　<meta charset="gbk" >
　　　　<title>少年弱冠</title>
	  <link rel="shortcut icon" href="/css/images/faver.ico">
	  <link type="" href="/css/style.css" rel="stylesheet" type="text/css">
	  <script src="/js/jquery.js" ></script>
　　</head>
　　<body>
		<div class="header">
			<div class="container">
				<ul class="menu">
					<li {% if page.cate == 'blog' %}
						  class="active"
						{% endif %} ><a href="/index.html">Home</a></li>
					<li{% if page.cate == 'article' %}
						  class="active"
						{% endif %} ><a href="/article.html">Article</a></li>
					<li{% if page.cate == 'about' %}
						  class="active"
						{% endif %} ><a href="/about.html">About</a></li>
				</ul>
				<h1 class="logo">Zhenyi's blog</h1>
			</div>
		</div>
		<div class="main">
			<div class="container">
				<div class="left">
					{% if page.type == 'article' %}
						  <h1>{{ page.title }}</h1>
					{% endif %}
					
　　　　				{{ content }}
				</div>
				<div class="right">
					<p class="rightTitle">常用工具</p>
					<ul class="toolbox">
						<li><a href="" title="CSS压缩/格式化">CSS压缩/格式化</a></li>
						<li><a href="" title="JavaScript在线压缩">JScript在线压缩</a></li>
						<li><a href="" title="JavaScript格式化">JScript格式化</a></li>
						<li><a href="" title="JS/HTML互转换">JS/HTML互转换</a></li>
						<li><a href="" title="HTML多功能转换器">Html多功能转换器</a></li>
						<li><a href="" title="在线汉字转UTF工具">汉字转UTF工具</a></li>
						<li><a href="" title="HTML特殊符号表">Html特殊符号表</a></li>
						<li><a href="" title="CSS中文字体编码">CSS中文字体编码</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<p>Copyright (C) 2013 - Ajsdhf Shi </p>
			</div>
		</div>
　　</body>
	<script >
		var leftHeight = $('.left').height();
		if( $('.right').height()<leftHeight ){
			$('.right').height(leftHeight);
		}
	</script>
</html>