<!DOCTYPE html>
<html>
　　<head>
　　　　<meta charset="utf-8" >
　　　　<title>{{ page.title }} - make it easy</title>
	  <link rel="shortcut icon" href="/css/images/faver.ico">
	  <link type="" href="/css/style.css" rel="stylesheet" type="text/css">
	  <link type="" href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	  <link type="" href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	  <script src="/js/jquery.js" ></script>
　　</head>
　　<body {% if page.cate == 'blog' %}
            class="main_bg"
            {% endif %}>
		<div class="header
		{% if page.cate == 'blog' %}
			hidden
        {% endif %}">
			<div class="container">
				<ul class="menu">
					<!---<li {% if page.cate == 'blog' %}
						  class="active"
						{% endif %} ><a href="/index.html">Home</a></li> --->
					<li{% if page.cate == 'article' %}
						  class="active"
						{% endif %} ><a href="/article.html">Article</a></li>
					<li{% if page.cate == 'about' %}
						  class="active"
						{% endif %} ><a href="/about.html">About</a></li>
				</ul>
				<h1 class="logo">Zhenyi's blog</h1>
			</div>
		</div>

        {% if page.cate == 'blog' %}
            {{ content }}
        {% endif %}

        {% if page.cate == 'article' %}
		<div class="main">
			<div class="container">
                {% if page.type == 'article' %}
                <div class="articleContainer">
                <h3>{{ page.title }}</h3>
                {% endif %}
　　　　				{{ content }}
                </div>
			</div>
		</div>
        {% endif %}

        {% if page.cate == 'about' %}
        <div class="main">
            <div class="container">
                {{ content }}
            </div>
        </div>
        {% endif %}

		<div class="footer">
			<div class="container">
				<p>Copyright (C) 2013 - 2014 Ajsdhf Shi </p>
			</div>
		</div>

　　</body>
	<script >
		var leftHeight = $('.left').height();
		if( $('.right').height()<leftHeight ){
			$('.right').height(leftHeight);
		}
	</script>
</html>